<mat-card class="example-card">
  <div class="menu" *ngIf="DataPost">
    <mat-card-title>{{ data.form.title }}</mat-card-title>
    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      aria-label="Example icon-button with a menu"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>

  <mat-card-content *ngIf="DataPost">
    <p>{{ data.form.content }}</p>
  </mat-card-content>
  <form class="Form" [formGroup]="EditFormPost" *ngIf="EditPost">
    <mat-form-field appearance="outline">
      <mat-label>Title</mat-label>
      <input matInput placeholder="Placeholder" formControlName="title" />
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Content</mat-label>

      <textarea
        matInput
        placeholder="Placeholder"
        formControlName="content"
      ></textarea>
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="SubmitEdit()">
      Edit
    </button>
  </form>
  <mat-divider inset></mat-divider>
  <mat-card-actions>
    <button mat-button (click)="openComment()" *ngIf="T_Comment">Coment</button>
    <button mat-button (click)="closeComment()" *ngIf="T_Close">Close</button>
  </mat-card-actions>
  <mat-card-footer *ngIf="Comment">
    <h1 style="margin-left: 30px">Comment</h1>
    <div *ngFor="let data of dataComment">
      <app-edit-comment
        [data]="data"
        (onDelete)="Deletcomment($event)"
      ></app-edit-comment>
    </div>

    <!-- comment -->
    <form class="Form" [formGroup]="FormComment">
      <mat-form-field appearance="outline">
        <mat-label>Comment</mat-label>
        <input matInput placeholder="Placeholder" formControlName="comment" />
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="Submit()">
        Submit
      </button>
    </form>
  </mat-card-footer>
</mat-card>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="editPost()">
    <mat-icon>edit</mat-icon>
    <span>Edit</span>
  </button>

  <button mat-menu-item (click)="DeletePost()">
    <mat-icon>delete</mat-icon>
    <span>Delete</span>
  </button>
</mat-menu>
